{% extends 'master.html' %}
{% block content %}
{% load static %}


<div class="abt-sec-top">

<div class="container">
    <div class="abt-top-row">
        <div class="abt-top-left">
            <h3>About us</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis sit earum ipsa id. Quis perspiciatis excepturi quos, fuga aliquam ipsum natus autem dignissimos est beatae aperiam quas ratione in doloremque.
                Quae dicta numquam, a enim esse ipsam omnis animi molestias vero, amet ullam magni nulla accusantium. Assumenda nesciunt totam eius, possimus vero, distinctio eos laboriosam vitae eveniet reprehenderit quas maiores.
            </p>


        </div>


    </div>
    


</div>



</div>










































{% endblock %}