
/* .form-inline{
    padding-left: 500px;
} */


.navbar{
    position: sticky;
    top: 0%;
    z-index: 10;
}

.navbar-brand{
    font-family: "Audiowide", sans-serif;
    text-decoration: none;
}

.nav-item{
    margin-left: 20px;
}

.top-header{
    /* background-image: linear-gradient(to right, #3e5151, #decba4); */
    /* background-image: linear-gradient(to right, #fc466b, #3f5efb); */
    background: linear-gradient(to right, #c94b4b, #4b134f);
}

.searchbtn{

}

.btn-login{
    margin-left: 562px;
}
  /* LOGIN MODAL*/

 .form-control{
border: none;
border-bottom: 1px solid #b64242;
}

.sign_btn{
    background-color: rgb(74, 153, 243);
    border-radius: 40px;
}



.social_btn{
    background-color: rgb(74, 153, 243);
    width: 85px;
    border-radius: 40px;
}





/* LOGIN MODAL END */





                                                             /* Head first carousal */

.carousel-caption h5{
    font-size: 3.40rem;
    margin-bottom: 0px;
}
 

.carousel-caption p{
    font-size: 1.7rem;
    margin-bottom: 215px;
}

                                      /* BODY cousrse details */

.features{
    text-align: center;
    font-size: 50px;
    margin-top: 30px;
}
.features2{
    text-align: center;

}
.ftcard{
    border-radius: 10px;
}

.card{
  
   margin-left: 40px;
   

}

.featurecard{
    transition: transform .2s ;
}

.featurecard:hover{
    transform: scale(1.1);
    cursor: pointer;
}

#fticon{
    font-size:40px;
}

.picon{
    font-size:40px;
}


.coursedetails{
    text-align: center;
    font-size: 50px;
    margin-top: 30px;
  

}
.coursedetails2{
    text-align: center;
    margin-bottom: 50px;
}  




/* TESTIMONIALS */
































/* 

.testontainer {
    background-color: white;
    text-align: center;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.58);
    border-radius: 16px;
    margin-top: 50px;
    margin-bottom: 50px
}

.testcard {
    border: none
}

.profile .proimg {
    width: 68px;
    height: 68px;
    border-radius: 50%
}

.second {
    border: none;
    border-left: 2px dotted lightgrey;
    
}


.third {
    border: none;
    border-left: 2px dotted lightgrey;
    
}

@media only screen and (max-width: 600px) {
    .second {
        border: none;
        border-top: 2px dotted lightgrey;
        margin-top: 25px
    }

    .third {
        border: none;
        border-top: 2px dotted lightgrey;
        margin-top: 25px
    }

    .icon {
        margin-top: 20px;
        top: 0
    }
}

.fa-quote-left:before {
    font-size: 7px;
    color: orangered;
    position: relative;
    bottom: 5px
}

.intro {
    font-size: 11px;
    margin-left: 13px;
    position: relative;
    bottom: 8px
}

.testrow {
    padding-bottom: 53px
}

.company {
    position: absolute;
    bottom: -42px
}

.fa-amazon:before {
    content: "\f270";
    font-size: 23px
}

.icon {
    margin-bottom: 15px;
    position: relative;
    bottom: 20px
}

.testheader {
    padding-top: 35px;
    padding-bottom: 50px
}
 */































                                                                       /* footer */
.bottom-foot{
    background: linear-gradient(to right, #c94b4b, #4b134f);

}


.text-center{
    text-decoration: none;
}

































/* 2nd Part   plan benefitpart */

.ftrshead{


    font-size: 2.75rem;
        text-align: center;
    
    }
    
    
    
    .planbenefitsection {
        display: flex;
        flex: 0.7 1;
        background-image: linear-gradient(
    0deg
    ,#f5f5fa,#fff7f1);
        border-radius: 24px;
        box-shadow: 0 3px 20px 0 hsl(0deg 0% 44% / 30%);
        border: 1px solid #fd9644;
        padding: 30px 52px;
        flex-direction: column;
        flex-wrap: wrap;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    
    
    
    
    .twoplanbenefitcontainer {
        display: flex;
        justify-content: space-between;
    }
    
    
    
    
    .planbenefitcontainer {
        flex: 1 0;
    }
    
    
    .planbenefittext {
        font-size: 16px;
        color: #000;
    }
    
    
    .planbenefitseparator {
        background-color: #fd9644;
        height: 1px;
        width: 90%;
        margin-top: 25px;
    }